.fullScreen {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  //height: 100vh;
  background-color: hsl(0, 0%, 0%);
  animation: background-ending 3s 9.65s forwards;
}
.dark {
  background-color: hsl(0, 0%, 0%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@keyframes identifier {
  0% {
    color: rgb(255, 255, 255);
    opacity: 1;
  }
  1% {
    visibility: visible;
    color: rgb(255, 255, 255);
  }
  25% {
    color: rgb(255, 255, 255);
    opacity: 1;
  }
  50% {
    color: rgb(255, 255, 255);

    opacity: 0;
  }
  75% {
    color: rgb(255, 255, 255);
    opacity: 1;
  }
  100% {
    color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes flash {
  0% {
    color: rgb(255, 255, 255);
    visibility: visible;
    opacity: 0;
  }
  50% {
    color: rgb(255, 255, 255);
    opacity: 1;
  }
  100% {
    color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes shake {
  0% {
    color: rgb(255, 255, 255);
    opacity: 1;
  }
  10% {
    visibility: visible;
  }
  10%,
  90% {
    transform: translate3d(-2px, 0px, 1px);
  }

  20%,
  80% {
    transform: translate3d(4px, 0px, -2px);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0px, 4px);
  }

  40%,
  60% {
    transform: translate3d(8px, 0px, -4px);
  }
  90% {
    // opacity: 0;
    // visibility: hidden;
  }
}

@keyframes text-ending {
  0% {
    color: rgb(0, 0, 0);
    visibility: visible;
    opacity: 0;
  }
  // 50% {
  //   opacity: 0.5;
  // }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes background-ending {
  100% {
    background-color: hsl(0, 0%, 100%);
  }
}

.animatedGrid {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: grid;
  column-gap: 6%;
  row-gap: 8%;

  /* Explicit grid */
  grid-template-areas:
    "k w"
    "req res"
    "🌟 🌟";

  grid-template-rows: repeat(3, 28%);
  grid-template-columns: repeat(2, 47%);

  --stagger-delay: 0.1s;
  div {
    // font-size: 3rem;
    block-size: fit-content;
    h1 {
      text-align: center;
    }
    .completeJoke {
      font-size: 1rem;

      h2 {
        text-align: center;
        background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
      }
    }
  }
}

@media only screen and (min-width: 50px) {
  .animatedGrid > div > h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 365px) {
  .animatedGrid > div > h1 {
    font-size: 2.6rem;
  }
}
@media (min-width: 390px) {
  .animatedGrid > div > h1 {
    font-size: 2.7rem;
  }
}
@media (min-width: 400px) {
  .animatedGrid > div > h1 {
    font-size: 2.8rem;
  }
}
@media (min-width: 410px) {
  .animatedGrid > div > h1 {
    font-size: 2.9rem;
  }
}
@media (min-width: 420px) {
  .animatedGrid > div > h1 {
    font-size: 3rem;
  }
}
@media (min-width: 430px) {
  .animatedGrid > div > h1 {
    font-size: 3.1rem;
  }
}
@media (min-width: 440px) {
  .animatedGrid > div > h1 {
    font-size: 3.2rem;
  }
}
@media (min-width: 450px) {
  .animatedGrid > div > h1 {
    font-size: 3.3rem;
  }
}
@media (min-width: 460px) {
  .animatedGrid > div > h1 {
    font-size: 3.4rem;
  }
}
@media (min-width: 470px) {
  .animatedGrid > div > h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 480px) {
  .animatedGrid > div > h1 {
    font-size: 3.6rem;
  }
}
@media (min-width: 490px) {
  .animatedGrid > div > h1 {
    font-size: 3.7rem;
  }
}
@media (min-width: 500px) {
  .animatedGrid > div > h1 {
    font-size: 3.8rem;
  }
}

@media (min-width: 1000px) {
  .animatedGrid > div > h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-height: 695px) and (max-width: 500px) {
  .animatedGrid > div > h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-height: 660px) and (max-width: 500px) {
  .animatedGrid > div > h1 {
    font-size: 2.3rem;
  }
}
.k {
  grid-area: k;
  animation-delay: calc(1 * var(--stagger-delay));
  h1 {
    visibility: hidden;
    animation: flash 3s 0.5s ease-in-out,
      text-ending 2s calc(1 * var(--stagger-delay) + 10.65s) forwards;
  }
}
.w {
  grid-area: w;
  animation-delay: calc(2 * var(--stagger-delay));
  h1 {
    visibility: hidden;
    animation: 2s flash 2.1s ease-in-out,
      text-ending 2s calc(2 * var(--stagger-delay) + 10.65s) forwards;
  }
}
.req {
  grid-area: req;
  animation-delay: calc(3 * var(--stagger-delay));
  h1 {
    visibility: hidden;
    animation: 2s flash 3s ease-in-out,
      text-ending 2s calc(3 * var(--stagger-delay) + 10.65s) forwards;
  }
}
.res {
  grid-area: res;
  animation-delay: calc(4 * var(--stagger-delay));
  h1 {
    visibility: hidden;
    animation: 2.15s flash 3.8s ease-in-out,
      text-ending 2s calc(4 * var(--stagger-delay) + 10.65s) forwards;
  }
}
.star {
  grid-area: 🌟;
  animation-delay: calc(13 * var(--stagger-delay));
  h1 {
    visibility: hidden;
    word-wrap: break-word;
    // animation: 3s flash 5.3s ease-in-out;
    animation: shake 0.75s 5.55s 6 cubic-bezier(0.36, 0.07, 0.19, 0.97) both,
      text-ending 2s calc(7 * var(--stagger-delay) + 10.65s) forwards;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  h2 {
    visibility: hidden;
    animation: text-ending 2s calc(7 * var(--stagger-delay) + 10.65s) forwards
    // ,2s flash 5.3s ease-in-out;
  }
}

.knock {
  font-family: "Nova Flat", "Verdana";
  margin: 0;
  font-size: 3rem;
  top: 0%;
  left: 25%;
  position: absolute;
}
.who {
  font-family: "Nova Flat", "Verdana";
  margin: 0;
  font-size: 3rem;
  top: 20%;
  left: 25%;
  position: absolute;
}
